body{
width:100%;
padding:0px;
margin:0px;
background-color:#ededed;
}


.new{
margin-left:80px;
}


@font-face {
    font-family: Lato-regular;
    src: url(fonts/Lato/Lato-Regular.ttf);
}
#head{

}
#logo_knit{
vertical-align:center;
margin-bottom:10px;margin-top:10px;
margin-left:5%;
height:7%;
}
#team_img{
width:100%;
}
#float{
position:absolute;
z-index:9999999;
margin-left:46%;
margin-top:-4.5%;
clear:both;
}
#content-1{
margin-top:10%;
}
#content-2{
margin-top:10%;
background-color:white;
padding-bottom:10%;padding-top:5%;
}
#content-4{
padding-top:5%;
}
.heading_text {
padding-top:2%;
font-size:30px;
letter-spacing:2;
font-weight:bold;
font-family: "lato", Times, serif;
}
.content{
margin-top:5%;
font-size:18px;
font-family: "lato", Times, serif;
}
#all-images{

margin-left:14%;
}
.col3-row1 {
width:25%;

float:left;
text-align:center;
margin-top:5%;
padding-top:3%;
}
.content-img{
margin-left:5%;

text-align:center;
font-size:16px;
font-family: "lato", Times, serif;
}
.con2-left{
margin-left:0%;
}
.con2-middle{
margin-left:4%;
}
.con2-right{
margin-left:4%;
}
#button_img{
padding-left:3%;
margin-top:5%;
padding-bottom:3%;
clear:both;
}

#contact {
font-size:20px;
margin-left:15%;
font-weight:bold;

}
.contact-details{
float:left;
font-size:18px;
color:#272c31;
margin-left:19%;
}

.row-1col-1{
float:left;
width:100%;
}

.row-2col-1{
float:left;
width:100%;
}
#footer{
font-family: "lato", Times, serif;
padding-top:2%;
padding-bottom:40px;
background-color:white;
width:100%;
height:10%;
clear:both;

}
#footer-2{
font-family: "lato", Times, serif;
width:100%;
height:50px;
background-color:white;
float:left;

}
#footer-3{
font-family: "lato", Times, serif;
width:100%;
height:80px;
background-color:white;
float:left;


}
.contact-info{
font-weight:bold;
text-decoration:underline;
margin-top:2%;


}
.contact-info-2{
float:left;
margin-left:23%;
}
.contact-info-21{
float:left;
margin-left:22%;
}
.contact-info-1{
float:left;
margin-left:15%;
}
.contact-info-3{
float:left;
margin-left:27.5%;
}
.contact-info-31{
float:left;
margin-left:21%;
}